- name: Install panko services
  hosts: panko_all
  user: root
  roles:
    - { role: "os_panko" }
  vars:
    # Needed for panko to talk to MongoDB
    panko_container_db_password: "secrete"
    # Password used for Keystone panko service user
    panko_service_password: "secrete"
    # Needed for panko to talk to memcached
    memcached_servers: 127.0.0.1
    memcached_encryption_key: "some_key"
    # Needed to setup the panko service in Keystone
    keystone_admin_user_name: admin
    keystone_admin_tenant_name: admin
    keystone_auth_admin_password: "SuperSecretePassword"
    keystone_service_adminuri_insecure: false
    keystone_service_internaluri_insecure: false
    keystone_service_internaluri: "http://1.2.3.4:5000"
    keystone_service_internalurl: "{{ keystone_service_internaluri }}/v3"
    keystone_service_adminuri: "http://5.6.7.8:35357"
    keystone_service_adminurl: "{{ keystone_service_adminuri }}/v3"
