#{{ ansible_managed}}

[DEFAULT]
# Disable stderr logging
use_stderr = False
debug = {{ debug }}

[database]
connection = {{ panko_connection_string }}

[keystone_authtoken]
auth_type = {{ panko_keystone_auth_plugin }}
auth_url = {{ keystone_service_adminurl }}
www_authenticate_uri = {{ keystone_service_internaluri }}
project_domain_name = {{ panko_service_project_domain_id }}
user_domain_name = {{ panko_service_user_domain_id }}
project_name = {{ panko_service_project_name }}
username = {{ panko_service_user_name }}
password = {{ panko_service_password }}
insecure = {{ keystone_service_internaluri_insecure | bool }}

memcached_servers = {{ memcached_servers }}

token_cache_time = 300

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}
