[uwsgi]
uid = {{ panko_system_user_name }}
gid = {{ panko_system_group_name }}

virtualenv = {{ panko_bin | dirname }}
wsgi-file = {{ panko_bin }}/panko-api
http-socket = {{ panko_service_address }}:{{ panko_service_port }}

master = true
enable-threads = true
processes = {{ panko_wsgi_processes }}
threads = {{ panko_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = 65535
thunder-lock = true
disable-logging = true
http-auto-chunked = true
http-raw-body = true
socket-timeout = 10

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog: